$primary: #ffd985;
$second: #ffcf57;
$third: #ffb600;
$orange: #f76b40;
$green: #60bfac;
@mixin center{
  left: 50%;
  transform: translateX(-50%);
}
body,
html {
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: 微軟正黑體;
  overflow: hidden;
}
#all {
  margin-top: 40px;
  .logo {
    width: 280px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .card {
    position: relative;
    animation: fadeIn 1s ease-in-out;
    width: 460px;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 5px;
    background: $primary;
    overflow: hidden;
    .shadow {
      position: absolute;
      background: $second;
      width: 660px;
      height: 800px;
      bottom: -50%;
      left: 30%;
      transform: rotate(45deg);
    }
    .title {
      width: 70%;
      margin: 0 auto;
      border-bottom: 2px solid #fff;
      img {
        width: 100%;
      }
    }
    .numbers {
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 10px;
      .number {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
        color: #333;
        background: #fff;
        margin: 5px;
        border-radius: 3px;
        padding: 10px;
        transition: all 0.2s;
        &:hover {
          background: $third;
        }
      }
    }
    .selected {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./assets/img/draw.png');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
      }
    }
    .mynumber {
      position: relative;
      background: #fff;
      height: 60px;
      padding: 15px 10px;
      align-items: center;
      display: flex;
      margin: 5px;
      box-sizing: border-box;
      border-radius: 5px;
      p {
        display: inline-block;
        margin: 0 5px;
        font-weight: bold;
        letter-spacing: 1px;
        background: $second;
        border-radius: 50%;
        padding: 5px;
      }
    }
    .btn {
      position: relative;
      display: flex;
      * {
        cursor: pointer;
        flex: 1;
        font-size: 20px;
        text-align: center;
        padding: 8px 0;
        margin: 5px;
        border-radius: 3px;
        background: #fff;
        color: $third;
        transition: all 0.3s;
        &:hover {
          color: #fff;
          background: #ff6046;
        }
      }
    }
  }
  .lottery{
    display: flex;
    width: 960px;
    padding: 10px;
    .ticket{
      background: #fff;
      position: relative;
      flex:1;
      border: .5px solid #ddd;
      padding: 20px;
      .logo{
        width: 100%;
      }
      .code{
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
      }
      .col{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
      }
      .title{
        background: $orange;
        color: #fff;
        text-align: center;
        padding: 3px 30px;
        border-radius: 5px;
      }
      .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
        .info{
          font-size: 20px;
          padding: 15px 0;
        }
        .green{
          background: $green;
        }
      }
      .mynumber{
        background: $primary;
        margin: 15px 0;
        display: flex;
        height: 90px;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        .number{
          background: #fff;
          border-radius: 3px;
          padding: 10px 8px;
          font-size: 18px;
          margin: 0 5px;
          font-size: 26px;
          font-weight: bold;
        }
      }
      .unicode{
        padding: 30px 0;
        background: url('./assets/img/lottodemo-06.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: -25px;
        left: 0;
        background: url('./assets/img/lottodemo-07.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .result{
      flex:2
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
